[submodule "Reference/SingleApplication"]
	path = Reference/SingleApplication
	url = https://github.com/itay-grudev/SingleApplication.git
[submodule "Reference/QtShell"]
	path = Reference/QtShell
	url = https://github.com/benlau/qtshell.git
	